body{
    min-height: 100vh;
    width: 100%;
    height: 100%;
    /* background: white; */
    font-family: Consolas,monaco,monospace; 

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade 3s forwards;
    /* background-image: url('./11.jpg'); */
    /* background-size: 60% 70%; */

    /* opacity: 50%; */
}

@keyframes fade{
    from{background: black;}
    to{background: white}
}

/* ----------------------- navbar -------------------- */

.nav-bar{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade{
    from{background: black;}
    to{background: white}
}

.nav-title{
    display: inherit;
    width: 30%;
    height: 5vh;
    /* font-size: .5rem; */
    text-align: center;
    align-items: flex-end;
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    animation: tit-fade 4s linear forwards;
}

@keyframes tit-fade{
    from{color: white}
    to{color: black}
}



.dot{
    color: #FA4C15;
    font-size: 1rem;
    height: -20%;
}

.nav-links{
    width: 55%;
    display: inherit;
    justify-content: space-evenly;
}

.nav-item{
    position: relative;
    color: #3E3E3E;
    text-decoration: none;;
    cursor: pointer;
    font-size: .6rem;
    align-self: flex-end;
    animation-name: it-fade;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

@keyframes it-fade{
    from{color: #898989}
    to{color: #3E3E3E}
}

.nav-item:hover {
    position: relative;
    color: white;
    text-decoration: none;
    /* border-top: solid 1px white; */
}

.nav-item:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FA4C15;
    visibility: hidden;
    /* -webkit-transform: scaleX(0); */
    /* transform: scaleX(0); */
    -webkit-transition: all 0.3s cubic-bezier(0.25,0.1,0.25,1);
    transition: all 0.3s cubic-bezier(0.25,0.1,0.25,1);
}

.nav-item:hover:before {
    visibility: visible;
    width: 100%;
    /* -webkit-transform: scaleX(1); */
    /* transform: scaleX(1); */
}

/* ----------------------- about -------------------- */

.abt-card{
    display: flex;
    align-items: center;
    height: 45vh;
    width: 100%;
    opacity: 0;
    animation: op-fade 4s 1s forwards;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.abt-card div{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.abt-l{
    background: #efefef;
}

.abt-r{
    background: black;
    color: white;
}

.abt-title{
    width: 50%;
    font-weight: 600;
    font-size: 1.5rem;
    height: 20%;
}

.abt-txt{
    width: 50%;
    font-size: .59rem;
}

/* ----------------------- stats -------------------- */

.stat-card{
    display: flex;
    height: 40vh;
    opacity: 0;
    align-items: center;
    justify-content: space-evenly;
    animation: op-fade 4s 1s forwards;
    width: 92%;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.stat-item{
    width: 10%;
    height: 25%;
}

.stat-num{
    /* width: ; */
    height: 80%;
    color: #FA4C15;
    font-size: 2.5rem;
    font-weight: 900;
}

.stat-text{
    font-size: .7rem;
    width: 130%;
    text-align: left;
}

/* ----------------------- expertise -------------------- */

.exp-card{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    animation: op-fade 4s 1s forwards;
    opacity: 0;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.exp-l{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 100%;
}

.exp-r{
    width: 30%;
}

.exp-title{
    font-weight: 600;
    font-size: 1.7rem;
    height: 15%;
}

.exp-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 80%; */
    font-size: .7rem;
    height: 90%;
    /* list-style: square; */
}

.exp-item{
    list-style: square;
    /* width: 100%; */
    padding-left: 5%;

}

.exp-link{
    height: 12%;
    width: 50%;
    color: white;
    border-color: #FA4C15;
    background: #FA4C15;
}

/* ----------------------- news -------------------- */

.news-card{
    display: flex;
    justify-content: space-evenly;
    animation: op-fade 4s 1s forwards;
    opacity: 0;
    height: 45vh;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.news-l{
    width: 50%;
}

.news-r{
    width: 30%;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.news-pic{
    /* width: 50%; */
}

.news-title{
    font-size: 1rem;
}

.news-prev{
    font-size: .7rem;
    /* padding: 0 2%; */
    /* width: 50%; */
}

/* ----------------------- hire -------------------- */

.hire-card{
    display: flex;
    justify-content: space-evenly;
    animation: op-fade 4s 1s forwards;
    opacity: 0;
    width: 80%;
    height: 30vh;
}

.hire-l{
    width: 40%;
}

.hire-r{
    width: 20%;
}

.hire-txt{
    font-size: .8rem;
    /* width: 40%; */
}


@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

/* ----------------------- subscribe -------------------- */


.sub-card{
    display: flex;
    animation: op-fade 4s 1s forwards;
    opacity: 0;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

/* ----------------------- footer -------------------- */

.footer-bar{
    display: flex;
    animation: op-fade 4s 1s forwards;
    opacity: 0;
}

@keyframes op-fade{
    from{opacity: 0%;}
    to{opacity: 100%;}
}

.footer-links{
    display: flex;
}